.btn {
  display: block;
  margin: auto;
}
#hidden {
  display: none;
}
#tada {
  font-size: 25pt;
  text-align: center;
  border: 3px solid purple ;
}
body {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  background-color:rgb(71, 20, 148);
}
h1 {
  font-weight: bold;
  font-size: 30pt;
}
#join {
  font-size: 15pt;
}
#steps {
  font-size: 13pt;
}
.boxmodel {
  margin: 12px;
 border: 2px solid white;
 padding: 4px;
 background-color: rgb(152, 169, 233);
}
